//Primary colors
$primary-900: #1c1d36;
$primary-700: #184cdc;
$primary-500: #2864fc;
$primary-300: #8BBEFA;
$primary-100: #e8edfb;

//Secondary colors
$secondary-900: #000000;
$secondary-700: #000000;
$secondary-500: #000000;
$secondary-300: #000000;
$secondary-100: #000000;

//Tertiary colors
$tertiary-900: #000000;
$tertiary-700: #000000;
$tertiary-500: #000000;
$tertiary-300: #000000;
$tertiary-100: #000000;

//Quaternary colors
$quaternary-900: #000000;
$quaternary-700: #000000;
$quaternary-500: #000000;
$quaternary-300: #000000;
$quaternary-100: #000000;

//Neutral colors
$neutral-900: #000000;
$neutral-700: #444444;
$neutral-500: #7b7b8a;
$neutral-300: #dddddd;
$neutral-200: #f9fafb;
$neutral-100: #ffffff;

//Aditional colors:
$transparent: transparent;


//Background colors
.bg-color-primary-500, .bg-primary{
    background-color: $primary-500 !important;
}

.bg-color-transparent{
    background-color: transparent;
}

//Text colors
.color-neutral-100{
    color: $neutral-100;
}
